.loader-container {
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  .loader {
    width: 5rem;
    height: 5rem;

    border: .3rem solid $border;
    border-top: .3rem solid $main;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-animation: rotate 1s infinite linear;
    -o-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}