$background: #F5F7FA;
$main: #2F80ED;
$mainHover: #2668c5;
$mainOpacity: rgba(47, 128, 237, .5);
$secondary: #FF6B6B;
$header: #2F80ED;
$text: #333333;
$card: #FFFFFF;
$border: #E0E0E0;
$success: #6FCF97;
$error: #E74C3C;
$errorHover: #b33930;
$radius: 1rem;
$smallRadius: .5rem;
$font: 1.4rem;
