@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "variables";
@import "header";
@import "form";
@import "button";
@import "categories";
@import "products";
@import "orders";
@import "footer";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  color: $text;

  font: 10px "Roboto", sans-serif;
}

body {
  background-color: $background;
}

h1 {
  color: $header;

  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  font-size: $font;
  font-weight: 400;
}

header, footer {
  padding: 3rem;

  background-color: $text;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a {
        padding: .5em .7em;

        color: $card;

        -webkit-border-radius: $smallRadius;
        -moz-border-radius: $smallRadius;
        border-radius: $smallRadius;

        font-size: $font;
        font-weight: 400;

        text-decoration: none;
        transition: background-color .2s;

        &:hover {
          background-color: $mainOpacity;
        }

        &.active {
          background-color: $main;
        }
      }
    }
  }
}

.container {
  width: 80%;
  height: 100vh;

  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.error {
  color: $error;
}